<mat-toolbar class="bg-dark">
    <button class="no-outline mooveup" mat-raised-button color='accent' (click)="Pay()"> Сплатити </button>
    <span class="m-avto"> </span>
    <button mat-fab color='accent' routerLink="Order" class="mooveup" (click)="GotoMenu()">
        <!-- <mat-icon>restaurant_menu</mat-icon> -->
        <fa-icon size="lg" [icon]="['fas', 'utensils']"></fa-icon>
    </button>
    <span class="m-avto"> </span>
    <button class="no-outline mooveup" mat-raised-button color='accent' (click)="CreateOrder()"> Замовити</button>

</mat-toolbar>