<div class="grid-container d-flex flex-column bg-dark">
    <div class="bg-dark">
        <mat-tab-group mat-align-tabs="start" color='accent' class="gridelement bg-dark text-warning">
            <mat-tab label="Ваши контакты">
                <order-header></order-header>
            </mat-tab>
            <mat-tab label="Ваши товары">
                <order-goods-list></order-goods-list>
            </mat-tab>
        </mat-tab-group>
    </div>
    <span class="m-avto"></span>
    <div class="bg-dark">
        <order-toolbar class="gridelement-row"></order-toolbar>
    </div>
</div>