@import '~@angular/material/theming';


.gridelement{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.gridelement-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
  
}

.grid-container {
    overflow: hidden !important;
    height: calc(var(--vh, 1vh) * 100 - 99px);
    min-height: calc(var(--vh, 1vh) * 100 - 99px);
    @media screen and (max-width: 575.98px) {
        overflow: auto !important;
        height: calc(var(--vh, 1vh) * 100 - 91px);
        min-height: calc(var(--vh, 1vh) * 100 - 91px);
    }
    width: 100%;
}


.stickycontainerbottom {
    position: sticky;
    bottom: 0;
    z-index: 1;
  }

.mat-toolbar-row .mat-toolbar-single-row {
    height: 100% !important;
}