<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar>Menu</mat-toolbar>
      
      <div class="d-flex  justify-content-center align-items-center align-self-center" *appShellRender> 
        <span class="m-avto"></span>
        <mat-spinner ></mat-spinner>
        <span class="m-avto"></span>
      </div>
      
      <mat-nav-list *appShellNoRender>
        <a mat-list-item routerLink="home"> Описание </a> 
        <ng-container *ngIf="meinelements$ | async as mainmenu">
          <a mat-list-item *ngFor="let item of mainmenu" (click)="OnMenuItemClick(item.id)"> {{ item.mName}} </a> 
        </ng-container>

        <ng-container *ngIf="!(meinelements$ | async) as mainmenu">
          <div class="d-flex  justify-content-center align-items-center align-self-center" *appShellRender> 
            <span class="m-avto"></span>
            <mat-spinner ></mat-spinner>
            <span class="m-avto"></span>
          </div>
        </ng-container>

      </mat-nav-list>
    
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color='primary'>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <img src="favicon.ico" class="header-image mx-1"> 
        <span>Чили доставка</span>
      </mat-toolbar>
      <!-- Add Content 
       Here -->
      
      

      <ng-container class="d-flex flex-column justify-content-center align-items-center"> 
        <router-outlet></router-outlet>
      </ng-container>
  
      <div class="d-flex  justify-content-center align-items-center align-self-center" *appShellRender> 
        <span class="m-avto"></span>
        <mat-spinner ></mat-spinner>
        <span class="m-avto"></span>
      </div>
      </mat-sidenav-content>

     

</mat-sidenav-container>
  





