<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar >Menu</mat-toolbar>
      
      <div class="d-flex  justify-content-center align-items-center align-self-center" *appShellRender> 
        <span class="m-avto"></span>
        <mat-spinner ></mat-spinner>
        <span class="m-avto"></span>
      </div>
      
      <mat-nav-list *appShellNoRender>
        <a mat-list-item routerLink="home" class="text-warning"> Описание </a> 
        <a mat-list-item routerLink="Order" class="text-warning"> Корзина </a> 
        <ng-container *ngIf="meinelements$ | async as mainmenu">
          <a class="text-warning" mat-list-item *ngFor="let item of mainmenu" (click)="OnMenuItemClick(item.id)"> {{ item.mName}} </a> 
        </ng-container>

        <ng-container *ngIf="!(meinelements$ | async) as mainmenu">
          <div class="d-flex  justify-content-center align-items-center align-self-center" *appShellRender> 
            <span class="m-avto"></span>
            <mat-spinner ></mat-spinner>
            <span class="m-avto"></span>
          </div>
        </ng-container>

      </mat-nav-list>
    
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color='primary'>
        <button
          class="no-outline"
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon  aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <img src="favicon.ico" class="header-image mx-1"> 
        
        <span *ngIf="!searchMode">Чили доставка</span>
        <span class="m-avto"></span>
        <button *ngIf="!searchMode" mat-icon-button (click)="SearchMode()"><mat-icon>search</mat-icon></button>
        
        <div *ngIf="searchMode" class="input-group input-group-sm ">
          <input #search class="form-control form-control-sm no-outline" type="text" placeholder="по имени" (input)="OnFilterChange()" [(ngModel)]="NameFilterValue">
          <div class="input-group-append">
            <button   class="btn text-light py-0" (click)="SearchMode(); ClearFilter()"><mat-icon class="p-0 m-0  mat-any-size">clear</mat-icon> </button>    
          </div>
        </div>
        
      </mat-toolbar>
      <!-- Add Content 
       Here -->
      
      

      <!-- <ng-container class="d-flex flex-column justify-content-center align-items-center"> 
        <router-outlet></router-outlet>
      </ng-container> -->
      
      
      <router-outlet></router-outlet>
      

      <div class="d-flex flex-column justify-content-center align-items-center align-self-center" *appShellRender> 
        <span class="m-avto"></span>
        <mat-spinner ></mat-spinner>
        <span class="m-avto"></span>
      </div>
      </mat-sidenav-content>

     

</mat-sidenav-container>
  





