@import '~@angular/material/theming';


  
  .sidenav {
    width: 200px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  // .mat-toolbar.mat-primary {
  //   position: sticky;
  //   top: 0;
  //   z-index: 1;
  // }

  
  .stickycontainertop {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .header-image {
    height: 35px;
    width: 35px;

    
  }

  .form-control-sm.input-group-append {
    max-height: 21px !important;
  }

  
.toolbar-mini {
  height: 35px !important;
  max-height: 35px !important;
}

 



  

  // .mat-toolbar {
  //   color: map-get($mat-orange, A400);
  // }
  