@import '~@angular/material/theming';

// Create a config with the default typography levels.


$config: mat-typography-config(
    $title: mat-typography-level(12px, 12px, 400),
    $button: mat-typography-level(12px, 12px, 400),
    $subheading-1: mat-typography-level(14px, 14px, 500)
);

mat-form-field {
    max-height: 100%;
    min-width: 40%;
    font-size: mat-font-size($config, title);
    line-height: mat-line-height($config, title);
}

.table-left-cell {
    border-left: 1px solid;
    border-left-color:  rgba(0, 0, 0, 0.12);
}

.table-cell {
    justify-content: center !important;
    justify-self: center !important;
    align-content: center !important;
    align-self: center !important;
    max-height: 30px !important;
    height: 30px !important; 
    min-height: 30px !important;
    border-right: 1px solid;
    border-right-color:  rgba(0, 0, 0, 0.12);
    text-align: center !important;  
}

// .mat-column-buttonsgroup {
//     flex: 0 0 24% !important;
// }

// .mat-column-good {
//     flex: 0 0 34% !important;
// }

// .mat-column-quantity {
//     flex: 0 0 14% !important;
// }

// .mat-column-price {
//     flex: 0 0 9% !important;
// }

// .mat-column-comment {
//     flex: 0 0 14% !important;
// }



.table-header-cell {
    border-top: 1px solid;
    border-top-color:  rgba(0, 0, 0, 0.12);

}

.table-footer-cell {
    color: map-get($mat-light-blue, 700);
}

.GoodNameInTable {
    text-transform: lowercase;
}

.table-row {
    max-height: 30px !important;
    height: 30px !important;   
    text-align: center !important;
    min-height: 30px !important;
}

.radio-lable {
    font-weight: 900 !important;
    
}

.radio-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    margin-left: 10%;
    margin-right: 10%;
}


mat-radio-button {
    margin-left: 2px;
    margin-right: 2px;
}
mat-card-subtitle {
    display: flex !important;
}

mat-card {
    padding: 4px;
}

.small {
    margin-top: 3px;
    margin-left: 6px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}