
<mat-table [dataSource]="dataSource" matSort class="bg-dark text-warning" multiTemplateDataRows>
    <ng-container matColumnDef="good">
        <!-- <mat-header-cell class="table-cell table-cell-good table-left-cell table-header-cell bg-dark text-warning" *matHeaderCellDef mat-sort-header> Товар </mat-header-cell> -->
        <mat-cell class="table-cell table-cell-good table-left-cell bg-dark text-warning" *matCellDef="let record"> <small
                class="GoodNameInTable"><h3 class="mb-1">{{record.good.name}} </h3>  </small></mat-cell>
        <!-- <mat-footer-cell *matFooterCellDef class="table-footer-cell table-cell-good"  > Итого </mat-footer-cell>     -->
    </ng-container>

    <ng-container matColumnDef="quantity">
        <mat-header-cell class="table-cell table-cell-button table-header-cell bg-dark text-light" *matHeaderCellDef mat-sort-header> Кл.сть </mat-header-cell>
        <mat-cell class="table-cell table-cell-button bg-dark text-warning" *matCellDef="let record">{{record.quantity}}</mat-cell>
        <mat-footer-cell *matFooterCellDef class="table-footer-cell table-cell-button bg-dark text-warning"  > Разом:  </mat-footer-cell>    
    </ng-container>

    <ng-container matColumnDef="price">
        <mat-header-cell class="table-cell table-header-cell bg-dark text-light" *matHeaderCellDef mat-sort-header> Ціна </mat-header-cell>
        <mat-cell class="table-cell bg-dark text-warning" *matCellDef="let record">{{record.good.price}}</mat-cell>
        <mat-footer-cell *matFooterCellDef class="table-footer-cell table-cell-button bg-dark text-warning"  >  {{ total }} </mat-footer-cell>    
    </ng-container>


    <ng-container matColumnDef="comment">
        <mat-header-cell class="table-cell table-header-cell bg-dark text-light" *matHeaderCellDef mat-sort-header> Коментарий </mat-header-cell>
        <mat-cell class="table-cell bg-dark text-warning" *matCellDef="let record" (click)="OnRecordClick(record)"> <small>{{record.comment}}</small></mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>


    
    

    <ng-container matColumnDef="increse">
        <mat-header-cell class="table-cell table-cell-button table-header-cell bg-dark text-light" *matHeaderCellDef> +1</mat-header-cell>
        <mat-cell class="table-cell table-cell-button bg-dark text-warning" *matCellDef="let record">
            <button class="mat-any-size no-outline" color='warn' mat-icon-button (click)="IncrQuantity(record)">
                <!-- <mat-icon>add</mat-icon> -->
                <fa-icon size="lg" [icon]="['fas', 'plus']"></fa-icon>
            </button>
        </mat-cell>
        <mat-footer-cell class="table-cell-button" *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="decrese">
        <mat-header-cell class="table-cell table-cell-button table-header-cell bg-dark text-light" *matHeaderCellDef> -1</mat-header-cell>
        <mat-cell class="table-cell table-cell-button bg-dark text-warning" *matCellDef="let record">
            <button class="mat-any-size no-outline" color='warn' mat-icon-button (click)="DecrQuantity(record)">
                <!-- <mat-icon>remove</mat-icon> -->
                <fa-icon size="lg" [icon]="['fas', 'minus']"></fa-icon>
            </button>
        </mat-cell>
        <mat-footer-cell class="table-cell-button" *matFooterCellDef></mat-footer-cell>
    </ng-container>
    
    <ng-container matColumnDef="del">
        <mat-header-cell class="table-cell table-cell-button table-header-cell bg-dark text-light" *matHeaderCellDef> Уд. </mat-header-cell>
        <mat-cell class="table-cell table-cell-button bg-dark text-warning" *matCellDef="let record">
            <button class="mat-any-size no-outline" color='warn' mat-icon-button (click)="Del(record)">
                <!-- <mat-icon>delete</mat-icon> -->
                <fa-icon size="lg" [icon]="['fas', 'trash']"></fa-icon>
            </button>
        </mat-cell>
        <mat-footer-cell class="table-cell-button" *matFooterCellDef></mat-footer-cell>
    </ng-container>


    <mat-header-row class="table-row bg-dark text-light" *matHeaderRowDef="displayedColumns ; sticky: true"></mat-header-row>
    <mat-footer-row  class="table-row bg-dark text-warning" *matFooterRowDef="displayedColumns"></mat-footer-row>    
    
    <mat-row *matRowDef="let goodrow; columns: displayedColumnsGood" class="table-row bg-dark text-warning"></mat-row>
    <mat-row *matRowDef="let row; columns: displayedColumns" class="table-row bg-dark text-warning"></mat-row>
    
</mat-table>
<mat-paginator class="bg-dark text-warning" [pageSizeOptions]="[4, 8, 16]" showFirstLastButtons></mat-paginator>