
:host {
    overflow: hidden !important;
    display: flex;
    flex-direction: column;
}

.gridelement{
    width: 100%;
}

.gridelement-row{
    background-color: #303030;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.grid-container {
    overflow: hidden !important;
    height: calc(100vh - 99px);
    @media screen and (max-width: 575.98px) {
        height: calc(100vh - 91px);
    }
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.panel {
    background: none;
    background-color: unset;
}

// .card-image {
//     object-fit: cover !important;
//     max-height: 100vh;
//     //width: 100%; 
//     @media screen and (max-width: 575.98px) {
//         width: 100vw; 
//     }
    
// }

.rotate {
    transform: rotate(-45deg) !important;
}


.mat-card {
    box-shadow: none;
    width: 100%;
    //max-height: 40vh;
    @media screen and (max-width: 575.98px) {
        width: 100vw;
    }

    @media screen and (max-width: 1299.98px) {
        background-size: cover;
        width: 100%;    
    }
}

.card-image-header {
    width: 100%;
    @media screen and (max-width: 575.98px) {
        width: 100vw;
        height: 35vh;
        max-height: 35vh;;
        background-image: url('../../assets/main.jpg');
        background-size: cover;
    }
    
    @media screen and (max-width: 1299.98px) {
        background-size: cover;
        
    }

    max-height: 450px;
    background-image: url('../../assets/mainPC.jpeg');
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
}

 
