
:host {
    overflow: hidden !important;
    display: flex;
    flex-direction: column;
 
}



.gridelement{
    // display: flex;
    // flex-direction: column;
    // justify-content: end;
    width: 100%;
    // height: 100%;
}



.gridelement-row{
    background-color: #303030;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
  
}

.grid-container {
    overflow: hidden !important;
    height: calc(100vh - 99px);
    @media screen and (max-width: 575.98px) {
        height: calc(100vh - 91px);
    }
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.panel {
    background: none;
    background-color: unset;
}

.card-image {
    object-fit: cover !important;
    max-height: 100vh;
    //width: 100%; 
    @media screen and (max-width: 575.98px) {
        width: 100vw; 
    }
    
}

.rotate {
    transform: rotate(-45deg) !important;
}


mat-card {
    object-fit: cover !important;
    width: 50vw;
    max-height: 40vh;
    @media screen and (max-width: 575.98px) {
        width: 100vw;
    }
}

.card-image-header {
    width: 50vw;
    @media screen and (max-width: 575.98px) {
        width: 100vw;
        height: 40vh;
    }
    max-height: 429px;
    // border-radius: 8px;
    background-position: 50%;
    background-size: cover;
    height: 50vh;
}

 
