<!-- 
    <div class="card container" >
        <div class="card-body">
          <h1 class="card-title ">Welcome</h1>
          <p class="card-text">Заказать еду на дом здесь можеш ты.</p>
          <button class="m-2 btn btn-primary" (click)="GoTomenu()"> Наше меню</button>
        </div>
    </div> -->



<div class="grid-container d-flex flex-column bg-dark" *appShellNoRender>
  <!-- <div class="bg-dark gridelement"> -->
    <mat-card class="bg-dark text-warning px-0">
      <mat-card-header>
        <mat-card-title>Chili Restaurant <small>м.Ужгород</small> </mat-card-title>
        <mat-card-subtitle> <small>м.Ужгород</small><small class="p-2"> 10:00 - 22:30 - години роботи</small> </mat-card-subtitle>
      </mat-card-header>
      <div class="card-image-header" style="background-image: url(assets/main.jpg)" ></div>
      <!-- <img class="card-image" mat-card-image [src]="defoultpicture"> -->

    </mat-card>

    <div class="m-avto"></div>

    <mat-card class="panel text-warning ">
    <mat-card-actions class="  d-flex ">
      <button class=" no-outline" mat-raised-button color='accent' (click)="GoTomenu()">
        <fa-icon class="mr-1" [icon]="['fas', 'utensils']"></fa-icon> Наше меню
      </button>
      <span class="m-avto"></span>
      <button color='warn' class="ml-2 no-outline text-light" mat-mini-fab shareButton="telegram" #fbBtn="shareButton">
        <!-- <mat-icon class="text-light rotate">send</mat-icon> -->
        <fa-icon size="lg" [icon]="['fab', 'telegram']"></fa-icon>
      </button>
      <button color='warn' class="ml-2 no-outline text-light" mat-mini-fab shareButton="facebook" #fbBtn="shareButton">
        <!-- <mat-icon class="text-light">facebook</mat-icon> -->
        <fa-icon size="lg" [icon]="['fab', 'facebook']"></fa-icon>

      </button>
      </mat-card-actions>
    
    </mat-card>

    <mat-card class="bg-dark text-warning">
      <mat-card-subtitle> <small>наші контакти</small> </mat-card-subtitle>
      <mat-card-content >
        <h5>
          пл. Корятовича 21-А, ТЦ Luxor
          📞+380955094011
        </h5>    

        <h5>
        Вул. Бестужева 9, ТЦ Новий
        📞+380995187137
        </h5>
        
        <h5>
          Вул. Собранецька 89, ТЦ Дастор
          📞+380956434600
        </h5>
      </mat-card-content>
    </mat-card>
</div>
