<!-- 
    <div class="card container" >
        <div class="card-body">
          <h1 class="card-title ">Welcome</h1>
          <p class="card-text">Заказать еду на дом здесь можеш ты.</p>
          <button class="m-2 btn btn-primary" (click)="GoTomenu()"> Наше меню</button>
        </div>
    </div> -->


    <mat-card class="container">
      <mat-card-header>
        
        <mat-card-title>Welcome</mat-card-title>
        <mat-card-subtitle>Заказать еду на дом здесь можеш ты.</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image class="card-image" [src]="defoultpicture" >
      <mat-card-content>
        <p>
          вул. Собранецька 89, ТЦ «Дастор», 2-й поверх
        </p>    
        <p>
        (095) 643-46-00
        </p>
        <p>
          Працює : нд-пт з 9:00 – 21:00 | Сб 12:00-21:00
        </p>  
        
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color='accent' (click)="GoTomenu()">Наше меню</button>
        <button mat-raised-button color='warn'  shareButton="telegram">SHARE</button>
      </mat-card-actions>
    </mat-card>