<!-- 
    <div class="card container" >
        <div class="card-body">
          <h1 class="card-title ">Welcome</h1>
          <p class="card-text">Заказать еду на дом здесь можеш ты.</p>
          <button class="m-2 btn btn-primary" (click)="GoTomenu()"> Наше меню</button>
        </div>
    </div> -->


    <mat-card class="container">
      <mat-card-header>
        
        <mat-card-title>Welcome</mat-card-title>
        <mat-card-subtitle>Заказать еду на дом здесь можеш ты.</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image class="card-image" src="https://instagram.fiev4-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/121149073_715499632647743_410179517459524483_n.jpg?_nc_ht=instagram.fiev4-1.fna.fbcdn.net&_nc_cat=111&_nc_ohc=3XouK8w8yngAX_YkJ0Y&tp=19&oh=4901fe3997af2f3a59a37984724ab468&oe=5FB271DC" >
      <mat-card-content>
        <p>
          вул. Собранецька 89, ТЦ «Дастор», 2-й поверх
        </p>    
        <p>
        (095) 643-46-00
        </p>
        <p>
          Працює : нд-пт з 9:00 – 21:00 | Сб 12:00-21:00
        </p>  
        
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color='accent' (click)="GoTomenu()">Наше меню</button>
        <button mat-raised-button color='warn'  shareButton="telegram">SHARE</button>
      </mat-card-actions>
    </mat-card>