cdk-virtual-scroll-viewport {
    height: 95vh;
    width: 95vw;
    margin:  auto;
    display: flex;
    flex-direction: column;
    align-self: center;
    
    justify-content: center;
    align-items: center;
    list-style: none;
    li {
        height: 290px;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
}

.c-img {
    height: 150px;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.c-header {
    height: 40px;
    max-height: 40px;
}

.c-footer {
    height: 40px;
    max-height: 40px;
} 

.c-body {
    height: 60px;
    max-height: 60px;
}