<div class="card m-3 " style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-sm-4 bg-secondary d-flex flex-column">
        <button class="m-3  "  mat-raised-button style="outline:none"> mat button </button> 
        <button class="m-3  "  mat-raised-button style="outline:none"> mat button </button>
        <button class="m-3  "  mat-raised-button style="outline:none"> mat button </button>
      </div>
      <div class="col-sm-8">
        <div class="card-body">
          <h5 class="card-title text-body">Card title</h5>
          <p class="card-text text-body">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text text-body"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="ml-3 btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">
      <button type="button" class="btn btn-secondary">1</button>
      <button type="button" class="btn btn-secondary">2</button>
      <button type="button" class="btn btn-secondary">3</button>
      <button type="button" class="btn btn-secondary">4</button>
    </div>
    <div class="btn-group mr-2" role="group" aria-label="Second group">
      <button type="button" class="btn btn-secondary">5</button>
      <button type="button" class="btn btn-secondary">6</button>
      <button type="button" class="btn btn-secondary">7</button>
    </div>
    <div class="btn-group" role="group" aria-label="Third group">
      <button type="button" class="btn btn-secondary">8</button>
    </div>
  </div>
  <button color='warn' class="m-3" style="outline:none" mat-raised-button> mat button </button> 